@model IEnumerable<DemoHotelBooking.Models.Room>
@{
    ViewData["Title"] = "AllRoomList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Danh sách phòng</h1>
<a class="btn btn-warning" asp-area="Admin" asp-controller="RoomManager" asp-action="Create">Thêm phòng</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAP)
                </td>
                <td>
                    <a class="text-warning" asp-area="Admin" asp-controller="RoomManager" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                </td>
                <td>
                    <a class="text-warning" asp-area="Admin" asp-controller="RoomManager" asp-action="Update" asp-route-id="@item.Id">Cập nhật</a>
                </td>
                <td>
                    <a class="text-warning" asp-area="Admin" asp-controller="RoomManager" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
