@model IEnumerable<DemoHotelBooking.Models.Room>
@{
    var list = Model.ToList();
    var sum = list.Sum(i => i.Price);
    var depo = sum * 0.2;
}
<div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <h1>Phòng đã chọn</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <button class="removeRoomButton btn btn-danger" data-room-id="@item.Id">Hủy</button>
                </td>
            </tr>
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <strong>Tổng cộng</strong>
            </td>
            <td>
                <strong>
                    @string.Format("{0:#,0} đ",sum)
                </strong>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <strong>Cần đặt cọc</strong>
            </td>
            <td>
                <strong>
                    @string.Format("{0:#,0} đ", depo)
                </strong>
            </td>
        </tr>
    </tbody>
</table>
