@model DemoHotelBooking.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rooms = ViewData["availbleRooms"] as List<DemoHotelBooking.Models.Room>;
    var bookings = ViewData["bookingRooms"] as List<DemoHotelBooking.Models.Room>;
    var message = ViewBag.Error;
}
@if (!string.IsNullOrEmpty(message))
{
    <div id="statusAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align:center">
        @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
        <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
    </div>
    <div class="row g-5">
        <div class="col-lg-6">
            <div id="roomListContainer">
                @Html.Partial("BookingRooms", bookings)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1>Booking</h1>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <form asp-action="Booking" id="bookingForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-3">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                                    <label for="name">Họ và tên</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Phone" type="text" class="form-control" id="phone" placeholder="Your Phone" required>
                                    <label for="phone">Số Điện Thoại</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="Phone" class="form-control" />
                            <input type="hidden" asp-for="Name" class="form-control" />
                        }
                        <div class="col-12">
                            <div class="form-floating">                                                              
                                <input hidden disabled="disabled" asp-for="Deposit" class="form-control" />                               
                            </div>
                        </div>
                        <!--Time-->
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input type="datetime" class="form-control datetimepicker-input" name="CheckinDate" id="CheckInDate" placeholder="Check In" required>
                                @* <input type="datetime-local" class="form-control datetimepicker-input" name="CheckinDate" id="CheckInDate" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" required> *@
                                <label  class="control-label" for="CheckInDate">Ngày nhận phòng</label>
                                <span asp-validation-for="CheckinDate" class="text-danger"></span>
                            </div>
                        </div>    
                        <div class="col-md-6">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <input type="datetime" name="CheckoutDate" class="form-control datetimepicker-input" id="CheckOutDate" placeholder="Check Out" required>
                                @* <input type="datetime-local" name="CheckoutDate" class="form-control datetimepicker-input" id="CheckOutDate" placeholder="Check Out" data-target="#date4" data-toggle="datetimepicker" required> *@
                                <label asp-for="CheckoutDate" class="control-label" for="CheckOutDate">Ngày trả</label>
                                <span asp-validation-for="CheckoutDate" class="text-danger"></span>
                            </div>
                        </div>
                        <!---->
                        <div class="col-12">
                            <div class="form-floating">                              
                                <input hidden disabled="disabled" asp-for="Amount" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12">
                            <input id="submit-booking" type="submit" value="Xác nhận" class="btn btn-primary w-100 py-3" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="availbleRoomList">
    @Html.Partial("ListRoomAvailble", rooms)
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--AJAX-->
    <script type="text/javascript">
        $(document).ready(function () {
            function registerAddRoomButtons() {
                $('.addRoomButton').off('click').on('click', function () {
                    var roomId = $(this).data('room-id');

                    $.ajax({
                        url: '@Url.Action("AddRoom", "Booking")',
                        type: 'GET',
                        data: { id: roomId },
                        success: function (result) {
                            $('#roomListContainer').html(result);
                            registerRemoveRoomButtons()
                        },
                        error: function () {
                            alert('An error has occurred');
                        }
                    });
                });
            }
            function registerRemoveRoomButtons() {
                $('.removeRoomButton').off('click').on('click', function () {
                    var id = $(this).data('room-id');

                    $.ajax({
                        url: '@Url.Action("RemoveRoom", "Booking")',
                        type: 'GET',
                        data: { id: id },
                        success: function (result) {
                            console.log("remove:" + id);
                            $('#roomListContainer').html(result);
                            registerRemoveRoomButtons()
                        },
                        error: function () {
                            alert('An error has occurred');
                        }
                    });
                });
            }
            //updatetime
            function updateTime() {
                var checkIn = $('#CheckInDate').val();
                var checkOut = $('#CheckOutDate').val();
                console.log(checkIn);
                $.ajax({
                    url: '@Url.Action("UpdateTime", "Booking")',
                    type: 'POST',
                    data: {
                        start: checkIn,
                        end: checkOut
                    },
                    success: function (result) {
                        $('#availbleRoomList').html(result);
                        registerAddRoomButtons();
                        //registerRemoveRoomButtons();
                    },
                    error: function () {
                        alert('An error has occurred');
                    }
                });
            }

            $('#CheckInDate').change(updateTime);
            $('#CheckOutDate').change(updateTime);

            registerAddRoomButtons();
            registerRemoveRoomButtons();
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            setTimeout(function () {
                var alertElement = document.getElementById('statusAlert');
                if (alertElement) {
                    alertElement.classList.remove('show');
                    alertElement.classList.add('fade');
                    setTimeout(() => {
                        alertElement.remove();
                    }, 150);
                }
            }, 5000);
        });
    </script>
}