@model IEnumerable<DemoHotelBooking.Models.Room>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h6 class="section-title text-center text-primary text-uppercase">CHỌN PHÒNG</h6>
            <h1 class="mb-5">Danh sách<span class="text-primary text-uppercase"> phòng</span></h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="room-item shadow rounded overflow-hidden">

                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/room-1.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">@string.Format("{0:#,0} VNĐ",item.Price)/Ngày</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <div class="ps-2">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <small class="fa fa-star text-primary"></small>
                                    }
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Giường</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Nhà tắm</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">@Html.DisplayFor(modelItem => item.Description)</p>
                            <div class="d-flex justify-content-between">
                                <a asp-action="Details" asp-controller="Room" target="_blank" asp-route-id="@item.Id">Chi tiết</a>
                                <button class="addRoomButton btn btn-success" data-room-id="@item.Id">Chọn</button>                  
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>